*.iml
.gradle
/local.properties
/.idea/
/gradle/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.vscode/
app/src/main/assets/model.pt
pytorch/hotdog-model
.project
.settings/
app/.classpath
app/src/main/gen/com/cs428/hotdognothotdog/
